
<ul>
  <li><%= link_to "My Cart", show_cart_path  %></li>
  <% if current_user != nil %>
    <li><%= link_to "User Account", user_account_path %></li>
    <li><%= link_to 'Logout', logout_path %></li>
  <% else %>
    <li><%= link_to 'Login', "/auth/github/" %></li>
  <% end %>
</ul>
