<ul class="menu centered">


  <% get_product_categories.each  do |product_category| %>
      <li><%= link_to product_category, show_category_path(product_category) %></li>
  <% end %> 
  		<li><%= link_to "My Cart", show_cart_path  %></li>
  		<li>  
  			<% if current_user %>
          <%= link_to 'Logout', logout_path %>
        <% else %>
          	<%= link_to 'Login', "/auth/github/" %>
        <% end %>
       </li>
</ul> 


