<h1>Welcome to Vampazon!</h1>

<h3>Shop by Category</h3>
<% @product_categories.each do |product_category| %>
  <!-- insert category photos -->
  <%= link_to product_category, show_category_path(product_category.category)%>
<% end %>


<h3><%= link_to "Browse All collections" index_products_path%></h3>
