<h1>VAMPAZON HOMEPAGE</h1>
<p>Find me in app/views/homepages/index.html.erb</p>

<section>

  <article class="">
      <h1>Minions</h1>
  </article>

  <article class="">
      <h1>Housewares</h1>
  </article>

  <article class="">
      <h1>Clothing</h1>
  </article>

  <article class="">
      <h1>Personal Care</h1>
  </article>

</section>
