<h1>Orders#index</h1>
<p>Find me in app/views/orders/index.html.erb</p>

<h1>ORDER PAGE</h1>
<ul>
  <li><h1>Payment Info</h1></li>
  <li>Name: (order.first_name + order.last_name) <%=%></li>
  <li>email: (order.email)</li>
  <li>Delivery Address: (order.street_address, order.city, order.state, order.zip)</li>
  <li>Phone: (order.phone)</li>
  <hr/>
</ul>

  <h1>CONTENTS OF ORDER</h1>
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Coffin</td>
        <td>1</td>
        <td>4.99</td>
      </tr>
      <tr>
        <td>Cape</td>
        <td>4</td>
        <td>20.99</td>
      </tr>
      <tr>
        <td>Minnion</td>
        <td>2</td>
        <td>13.26</td>
      </tr>
    </tbody>
  </table>

<!--
@myorder.status = params[:order][:status]
@myorder.first_name = params[:order][:first_name]
@myorder.last_name = params[:order][:last_name]
@myorder.email = params[:order][:email]
@myorder.street_address = params[:order][:street_address]
@myorder.city = params[:order][:city]
@myorder.state = params[:order][:state]
@myorder.zip = params[:order][:zip]
@myorder.phone = params[:order][:phone] -->
