
*********************** BODY STANDARD ***********************

body {
  min-width: 100%;
  font-family: 'Garamond';
  /*font-size: 16pt;*/
}

.basic {
  margin: 2% 12% 5% 12%;
}

.basic h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2%;
}

.basic p {
  padding: 1%;
  margin-left: 3%;
}

*********************** HEADER NAV ***********************

h1 a {
	color: white;
	font-weight: bold;
  padding: 3%;
  margin-left: 3%;
  font-size: 4;
}

h1 a:hover, h1 a:focus {
  color: white;
  text-decoration: underline;
}

h1 a:visited {
  color: white;
  font-weight: bold;
}

h2 {
  margin-top: 1%;
  margin-left: 3%;
  margin-bottom: 2%;
  text-align: center;
}

.top-bar {
  padding: 3%;
  background-color: #210405;
  /*background-color: #680604;*/
}

.top-bar-left {
  margin-left: 5%;
}

.top-bar-right {
  margin-right: 3%;
  margin-top: 1%;
}

.top-bar-right a {
  font-size: 1.5rem;
  background-color: #210405;
}

.top-bar-right a:hover, .top-bar-right a:focus {
  color: white;
  text-decoration: underline;
}

.top-bar-right a:visited {
  color: white;
  font-weight: bold;
}

.headline {
	font-size: 1.5rem;
	/*font-weight: bold;*/
	text-align: center;
}

h4.headline {
	font-weight: bold;
	text-align: left;
}

.headline img {
	margin: auto;
}

.headline a {
	color: black;
}

.front-page {
	margin: 3%;
}

.quantity {
	width: 7%;
	/*font-size: rem;*/
}

.product-detail {
	max-height: 9em;
}





#login-logout a {
  color: white;
  display: inline-block;
  float: right;
  min-width: 20%;
}



.row ul {
  list-style: none;
}

.row ul a {
  color: black;
}

.row ul a:hover {
  color: #680604;
}

.columns {
  column-count: 3;
  /*column-gap: 8vw;*/
}

.card p {
  float: center;
}

.card {
  display: inline-block;
  margin: 1%;
  padding: 2%;
  /*padding-left: 3.5%;*/
  background-color: white;
  /*color: white;*/
  border: solid black;
  min-height: 13em;
}

div.product-info {
  min-height: 6.5em;
  /*border: solid red;*/
  /*padding: 0;*/
}

img.product_photo {
  display: inline-block;
  margin: 2% auto;
  max-height: 7em;
}

.product-info ul {
  list-style: none;
  margin-left: 0;
  margin-bottom: .25em;
  font-size: 1rem;
  text-align: center;
}

.product-info ul a {
  color: black;
}

.product-info ul a:hover {
  color: red;
}

.product-info li {
  float: center;
}
