body {
  min-width: 100%;
  font-size: 14pt;
  font-family: Arial, Helvetica, sans-serif;
}

.basic {
  margin: 2% 12% 1% 12%;
}

.basic h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2%;
}

.basic p {
  padding: 1%;
  font-weight: bold;
}

header {
  background-color: black;
  height: 17%;
  margin-bottom: 2%;
  padding: 0 3% 3% 0;
}

img.logo {
  margin-left: 5%;
  height: auto;
  width: auto;
  max-width: 90%;
  max-height: 90%;
}

.logo-box {
  width: 50%;
}

img.frontpage {
  float: left;
  display: inline-block;
}

#product-navigation {
  text-align: center;
}

nav li {
  background-color: black;
  display: inline-block;
  padding-right: 5%;
}

nav li a {
  background-color: black;
  color: white;
}

h3 {
  font-size: 2.75rem;
	font-weight: bold;
	text-align: center;
  margin: 2% 0 3% 0;
}

.column {
  padding: 1% 1.5% 3% 1.5%;
}

.quantity {
	width: 15%;
}

.headline {
	font-size: 1.75rem;
  font-weight: bold;
	text-align: center;
}

.headline a {
	color: black;
}

.headline a:hover, .headline a:focus {
  color: #680604;
}

img.product_photo {
  display: inline-block;
  margin: 10% 0;
  max-height: 9em;
}

.row ul {
  list-style: none;
}
