body {
  min-width: 100%;
  font-size: 14pt;
  font-family: Arial, Helvetica, sans-serif;
}

.basic {
  margin: 2% 12% 1% 12%;
}

.basic h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2%;
}

.basic p {
  padding: 1%;
  font-weight: bold;
}

/*header {
  background-color: black;
  height: 17%;
  margin-bottom: 2%;
  padding: 0 3% 3% 0;
}*/

img.logo {
  height: auto;
  width: auto;
  max-width: 80%;
  max-height: 80%;
}

.top-bar {
  background-color: black;
  min-width: 100%;
  padding: 2% 3%;
}

.top-bar-title {
  width: 60%;
}

.top-bar-right {
  background-color: black;
}

.top-bar-right li {
  background-color: black;
  padding-right: 2%;
  display: inline-block;
}

.top-bar-right li a {
  background-color: black;
}

img.frontpage {
  float: left;
  display: inline-block;
}

/*nav li {
  background-color: black;
  display: inline-block;
  padding-right: 5%;
}*/

nav li a {
  color: white;
}

h3 {
  font-size: 2.75rem;
	font-weight: bold;
	text-align: center;
  margin: 2% 0 3% 0;
}

.column {
  padding: 1% 1.5% 3% 1.5%;
}

.quantity {
	width: 15%;
}

.headline {
	font-size: 1.75rem;
  font-weight: bold;
	text-align: center;
  margin-top: 2%;
}

.headline a {
	color: black;
  margin: 3%;
}

.headline a:hover, .headline a:focus {
  color: #680604;
}

img.product_photo {
  display: inline-block;
  margin: 10% 0;
  max-height: 9em;
}

.row ul {
  list-style: none;
}

#product-navigation {
  text-align: center;
}
