<div class="basic">
	<h2>Browse All Collections</h2>

    <div class="row">
      <!-- <div class="columns small-12 medium-6 large-4"> -->
      <div class="columns">

				<% @products.each do |product| %>
			   <div class="row" >
		        <div class="card">
							<div class="product-info">
								<ul>
				  			<%= link_to image_tag(product.photo_url), show_products_path(product.id), class : "product_photo"  %>
				  				<li><%= link_to product.name, show_products_path(product.id) %></li>
				  				<li><%= "$#{product.price}" %></li>
				  			</ul>
				  		</div>
			  		</div>
			  	</div>
				<% end %>
			</div>
	</div>
</div>