<div class="wrapper">
  <p class="welcome">
  	<% if current_user %>
  		<h2 class="welcome">Welcome back, <%= current_user.name %>!</h2>
  	<% else %>
  		<h2 class="welcome">Welcome to Vampazon!</h2>
  	<% end %>
  </p>
</div>
