<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Vampazon</title>
    <%= stylesheet_link_tag "application.css"%>
  </head>

  <body>
  <!-- DESKTOP NAVIATION -->
    <nav class="top-bar">
      <div class="top-bar-left">
       <h1 class="logo"><%= link_to 'Vampazon', root_path %></h1>
      </div>

      <div class="top-bar-right">
        <%= render partial: '/homepages/navigation_links' %>
      </div>
    </nav>

    <%= yield %>

  </body>

  <!-- FOOTER -->

  <footer>

  </footer>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
</html>
